<!DOCTYPE html>
<html>
  <head>
    <title>DeviseMultipleModelTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
          <% if user_signed_in? %>
            <strong>【user/worker】<%= link_to current_user.email, user_index_path %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% elsif  admin_signed_in? %>
            <strong>【admin】<%= link_to current_admin.email, admin_index_path %></strong>
            <%= link_to 'プロフィール変更', edit_admin_registration_path %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          <% elsif  advisor_signed_in? %>
            <strong>【advisor】<%= link_to current_advisor.email, advisor_index_path %></strong>
            <%= link_to 'プロフィール変更', edit_advisor_registration_path %>
            <%= link_to 'ログアウト', destroy_advisor_session_path, method: :delete %>
          <% else %>
              <%= link_to 'userサインアップ', new_user_registration_path %>
              <%= link_to 'userログイン', new_user_session_path %>
          <% end %>
      </nav>
  </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
